.article {
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
  padding-right: 15px;
}

.article-img {
  width: 30%;
  height: 100%;
}

.description-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preamble {
  width: '90%';
  max-height: '90%';
}
@media (max-width: 1130px) {
  .preamble {
    display: none;
  }
  .title-block {
    flex-direction: column;
  }
  .article {
    padding-right: 0px;
  }
  .title-block {
    font-size: 10px;
  }
}
